@model Crud_TagHelper.Models.Makine

<form asp-controller="Uretim" asp-action="Duzenle" method="post">
	<div class="mb-2">
		<label asp-for="Tanim" class="form-label"></label>
		<input asp-for="Tanim" class="form-control" />
		<span asp-validation-for="Tanim" class="text-danger"></span>
	</div>
	<div class="mb-2">
		<label asp-for="Aciklama" class="form-label"></label>
		<input asp-for="Aciklama" class="form-control" />
		<span asp-validation-for="Aciklama" class="text-danger"></span>
	</div>

	<div class="mb-2">
		<label asp-for="UretimSurecId" class="form-label"></label>
		<select class="form-select" asp-for="UretimSurecId" asp-items="ViewBag.UretimSurec">
			<option selected>Open this select menu</option>
		</select>
	</div>


	<a asp-action="Index" class="btn btn-primary">Listeye Geri Dön</a>
	<button type="submit" class="btn btn-success">Kaydet</button>

</form>



@* submit işlemi biraz daha kolay bi işlem. a tag'ına' type verirsem tür değiştirmem gerekir. button nesnesi form nesnesini tetikler. a nesnesiyle bunu 2 adımda yaparız. a  ve button kullanma farkımız budur. eğer bir sumbit tetikliyorsa method'a post dememize gerek yok o zaten posttur.*@